@using Xunit.Sdk
@inherits Bunit.BunitContext

@code {

    [Fact]
    public void Succeed()
    {
        Render(@<button id="special-button">Click Me</button>)
            .Should().HaveId("special-button");
    }

    [Fact]
    public void ReturnAndConstraint()
    {
        var andConstraint = Render(@<button id="special-button">Click Me</button>)
            .Should().HaveId("special-button");

        var constraintType = andConstraint.GetType();
        constraintType.IsGenericType.Should().BeTrue();
        constraintType.GetGenericTypeDefinition().Should().Be(typeof(AndConstraint<>));
        var assertionType = constraintType.GetGenericArguments()[0];
        assertionType.IsGenericType.Should().BeTrue();
        assertionType.GetGenericTypeDefinition().Should().Be(typeof(RenderedFragmentAssertions<>));
    }

    [Fact]
    public void ThrowException_WhenDoesNotHaveAttribute()
    {
        Action aut = () => Render(@<button>Click Me</button>)
            .Should().HaveId("special-button");

        aut.Should().Throw<XunitException>()
            .And.Message.Should().Be("Expected IRenderedComponent to have attribute \"id\", but found <null>.");
    }

    [Fact]
    public void ThrowException_WhenDoesNotHaveAttribute_AndShouldIncludeBecauseMessage()
    {
        Action aut = () => Render(@<button>Click Me</button>)
            .Should().HaveId("special-button", "this is very important to {0}", "Steve");

        aut.Should().Throw<XunitException>()
            .And.Message.Should().Be("Expected IRenderedComponent to have attribute \"id\" because this is very important to Steve, but found <null>.");
    }

    [Fact]
    public void ThrowException_WhenHasAttributeWithWrongValue()
    {
        Action aut = () => Render(@<button id="special-btn">Click Me</button>)
            .Should().HaveId("special-button");

        aut.Should().Throw<XunitException>()
            .And.Message.Should().Be("Expected IRenderedComponent \"id\" attribute to have value \"special-button\", but found \"special-btn\".");
    }

    [Fact]
    public void ThrowException_WhenHasAttributeWithWrongValue_AndShouldIncludeBecauseMessage()
    {
        Action aut = () => Render(@<button id="special-btn">Click Me</button>)
            .Should().HaveId("special-button", "this is very important to {0}", "Steve");

        aut.Should().Throw<XunitException>()
            .And.Message.Should().Be("Expected IRenderedComponent \"id\" attribute to have value \"special-button\" because this is very important to Steve, but found \"special-btn\".");
    }
}