@using Xunit.Sdk
@inherits Bunit.BunitContext

@code {

    [Fact]
    public void Succeed()
    {
        Render(@<a href="#" title="GitHub Repo">Link</a>)
            .Should().HaveTitle("GitHub Repo");
    }

    [Fact]
    public void ReturnAndConstraint()
    {
        var andConstraint = Render(@<a href="#" title="GitHub Repo">Link</a>)
            .Should().HaveTitle("GitHub Repo");

        var constraintType = andConstraint.GetType();
        constraintType.IsGenericType.Should().BeTrue();
        constraintType.GetGenericTypeDefinition().Should().Be(typeof(AndConstraint<>));
        var assertionType = constraintType.GetGenericArguments()[0];
        assertionType.IsGenericType.Should().BeTrue();
        assertionType.GetGenericTypeDefinition().Should().Be(typeof(RenderedFragmentAssertions<>));
    }

    [Fact]
    public void ThrowException_WhenDoesNotHaveAttribute()
    {
        Action aut = () => Render(@<a href="#">Link</a>)
            .Should().HaveTitle("GitHub Repo");

        aut.Should().Throw<XunitException>()
            .And.Message.Should().Be("Expected IRenderedComponent to have attribute \"title\", but found <null>.");
    }

    [Fact]
    public void ThrowException_WhenDoesNotHaveAttribute_AndShouldIncludeBecauseMessage()
    {
        Action aut = () => Render(@<a href="#">Link</a>)
            .Should().HaveTitle("GitHub Repo", "this is very important to {0}", "Steve");

        aut.Should().Throw<XunitException>()
            .And.Message.Should().Be("Expected IRenderedComponent to have attribute \"title\" because this is very important to Steve, but found <null>.");
    }

    [Fact]
    public void ThrowException_WhenHasAttributeWithWrongValue()
    {
        Action aut = () => Render(@<a href="#" title="GH Repo">Link</a>)
            .Should().HaveTitle("GitHub Repo");

        aut.Should().Throw<XunitException>()
            .And.Message.Should().Be("Expected IRenderedComponent \"title\" attribute to have value \"GitHub Repo\", but found \"GH Repo\".");
    }

    [Fact]
    public void ThrowException_WhenHasAttributeWithWrongValue_AndShouldIncludeBecauseMessage()
    {
        Action aut = () => Render(@<a href="#" title="GH Repo">Link</a>)
            .Should().HaveTitle("GitHub Repo", "this is very important to {0}", "Steve");

        aut.Should().Throw<XunitException>()
            .And.Message.Should().Be("Expected IRenderedComponent \"title\" attribute to have value \"GitHub Repo\" because this is very important to Steve, but found \"GH Repo\".");
    }
}