@using Xunit.Sdk
@inherits Bunit.BunitContext

@code {

    [Fact]
    public void Succeed()
    {
        Render(@<button type="button">Click me</button>)
            .Should().HaveType("button");
    }

    [Fact]
    public void ReturnAndConstraint()
    {
        var andConstraint = Render(@<button type="button">Click me</button>)
            .Should().HaveType("button");

        var constraintType = andConstraint.GetType();
        constraintType.IsGenericType.Should().BeTrue();
        constraintType.GetGenericTypeDefinition().Should().Be(typeof(AndConstraint<>));
        var assertionType = constraintType.GetGenericArguments()[0];
        assertionType.IsGenericType.Should().BeTrue();
        assertionType.GetGenericTypeDefinition().Should().Be(typeof(RenderedFragmentAssertions<>));
    }

    [Fact]
    public void ThrowException_WhenDoesNotHaveAttribute()
    {
        Action aut = () => Render(@<button>Click me</button>)
            .Should().HaveType("button");

        aut.Should().Throw<XunitException>()
            .And.Message.Should().Be("Expected IRenderedComponent to have attribute \"type\", but found <null>.");
    }

    [Fact]
    public void ThrowException_WhenDoesNotHaveAttribute_AndShouldIncludeBecauseMessage()
    {
        Action aut = () => Render(@<button>Click me</button>)
            .Should().HaveType("button", "this is very important to {0}", "Steve");

        aut.Should().Throw<XunitException>()
            .And.Message.Should().Be("Expected IRenderedComponent to have attribute \"type\" because this is very important to Steve, but found <null>.");
    }

    [Fact]
    public void ThrowException_WhenHasAttributeWithWrongValue()
    {
        Action aut = () => Render(@<button type="reset">Click me</button>)
            .Should().HaveType("button");

        aut.Should().Throw<XunitException>()
            .And.Message.Should().Be("Expected IRenderedComponent \"type\" attribute to have value \"button\", but found \"reset\".");
    }

    [Fact]
    public void ThrowException_WhenHasAttributeWithWrongValue_AndShouldIncludeBecauseMessage()
    {
        Action aut = () => Render(@<button type="reset">Click me</button>)
            .Should().HaveType("button", "this is very important to {0}", "Steve");

        aut.Should().Throw<XunitException>()
            .And.Message.Should().Be("Expected IRenderedComponent \"type\" attribute to have value \"button\" because this is very important to Steve, but found \"reset\".");
    }
}