@using Xunit.Sdk
@inherits Bunit.TestContext

@code {

    [Fact]
    public void ReturnRenderedFragment()
    {
        var renderedFragment = Render(@<button type="button">Click me</button>);

        var returnedRenderedFragment = renderedFragment.ShouldHaveType("button");

        returnedRenderedFragment.Should().BeSameAs(renderedFragment);
    }

    [Fact]
    public void SucceedWhenTypeMatches()
    {
        Render(@<button type="button">Click me</button>)
            .ShouldHaveType("button");
    }

    [Fact]
    public void ThrowExceptionWhenTypeDoesNotMatch()
    {
        Action aut = () => Render(@<button type="link">Click me</button>)
            .ShouldHaveType("button");

        aut.Should().Throw<XunitException>();
    }

    [Fact]
    public void ThrowExceptionWhenDoesNotHaveType()
    {
        Action aut = () => Render(@<button>Click me</button>)
            .ShouldHaveType("button");

        aut.Should().Throw<XunitException>();
    }
}