@using Xunit.Sdk
@inherits Bunit.TestContext

@code {
    
    [Fact]
    public void ReturnElement()
    {
        var element = Render(@<a href="#" title="GitHub Repo">Link</a>).AsElement();
        
        var returnedElement = element.ShouldHaveTitle("GitHub Repo");

        returnedElement.Should().BeSameAs(element);
    }

    [Fact]
    public void SucceedWhenTitleMatches()
    {
        Render(@<a href="#" title="GitHub Repo">Link</a>)
            .AsElement()
            .ShouldHaveTitle("GitHub Repo");
    }
    
    [Fact]
    public void ThrowExceptionWhenHrefDoesNotMatch()
    {
        Action aut = () => Render(@<a href="#" title="GitHub Repo">Link</a>)
            .AsElement()
            .ShouldHaveTitle("Different");

        aut.Should().Throw<XunitException>();
    }

    [Fact]
    public void ThrowExceptionWhenDoesNotHaveTitle()
    {
        Action aut = () => Render(@<a>Link</a>)
                            .AsElement()
                            .ShouldHaveTitle("GitHub Repo");

        aut.Should().Throw<XunitException>();
    }
}