@using Xunit.Sdk
@inherits Bunit.TestContext

@code {
    
    [Fact]
    public void Succeed()
    {
        Render(@<button data-test-class="magic-button">Click Me</button>)
            .AsElement()
            .Should().HaveDataTestClass("magic-button");
    }
    
    [Fact]
    public void ReturnAndConstraint()
    {
        var andConstraint = Render(@<button data-test-class="magic-button">Click Me</button>)
            .AsElement()
            .Should().HaveDataTestClass("magic-button");

        andConstraint.Should().BeOfType<AndConstraint<ElementAssertions>>();
    }
    
    [Fact]
    public void ThrowException_WhenDoesNotHaveAttribute()
    {
        Action aut = () => Render(@<button>Click Me</button>)
            .AsElement()
            .Should().HaveDataTestClass("magic-button");

        aut.Should().Throw<XunitException>()
            .And.UserMessage.Should().Be("Expected IElement to have attribute \"data-test-class\", but found <null>.");
    }
    
    [Fact]
    public void ThrowException_WhenDoesNotHaveAttribute_AndShouldIncludeBecauseMessage()
    {
        Action aut = () => Render(@<button>Click Me</button>)
            .AsElement()
            .Should().HaveDataTestClass("magic-button", "this is very important to {0}", "Steve");

        aut.Should().Throw<XunitException>()
            .And.UserMessage.Should().Be("Expected IElement to have attribute \"data-test-class\" because this is very important to Steve, but found <null>.");
    }
    
    [Fact]
    public void ThrowException_WhenHasAttributeWithWrongValue()
    {
        Action aut = () => Render(@<button data-test-class="magic-btn">Click Me</button>)
            .AsElement()
            .Should().HaveDataTestClass("magic-button");

        aut.Should().Throw<XunitException>()
            .And.UserMessage.Should().Be("Expected IElement \"data-test-class\" attribute to have value \"magic-button\", but found \"magic-btn\".");
    }
    
    [Fact]
    public void ThrowException_WhenHasAttributeWithWrongValue_AndShouldIncludeBecauseMessage()
    {
        Action aut = () => Render(@<button data-test-class="magic-btn">Click Me</button>)
            .AsElement()
            .Should().HaveDataTestClass("magic-button", "this is very important to {0}", "Steve");

        aut.Should().Throw<XunitException>()
            .And.UserMessage.Should().Be("Expected IElement \"data-test-class\" attribute to have value \"magic-button\" because this is very important to Steve, but found \"magic-btn\".");
    }
}