@using Xunit.Sdk
@inherits Bunit.TestContext

@code {
    
    [Fact]
    public void ReturnElement()
    {
        var element = Render(@<button Class="btn big cta"><h1>Test</h1></button>).AsElement();
        
        var returnedElement = element.ShouldHaveClass("cta");

        returnedElement.Should().Be(element);
    }

    [Theory]
    [InlineData("big")]
    [InlineData("cta")]
    [InlineData("btn")]
    public void SucceedWhenHasClass(string expectedClass)
    {
        Render(@<button Class="btn big cta"><h1>Test</h1></button>)
            .AsElement()
            .ShouldHaveClass(expectedClass);
    }

    [Fact]
    public void ThrowExceptionWhenDoesNotHaveClass()
    {
        Action aut = () => Render(@<button><h1>Test</h1></button>)
                            .AsElement()
                            .ShouldHaveClass("big");

        aut.Should().Throw<XunitException>();
    }
}