@using Xunit.Sdk
@inherits Bunit.TestContext

@code {
    
    [Fact]
    public void ReturnElement()
    {
        var element = Render(@<a href="https://github.com/srpeirce/fluentassertions.bUnit">Link</a>).AsElement();
        
        var returnedElement = element.ShouldHaveHref("https://github.com/srpeirce/fluentassertions.bUnit");

        returnedElement.Should().Be(element);
    }

    [Fact]
    public void SucceedWhenHrefMatches()
    {
        Render(@<a href="https://github.com/srpeirce/fluentassertions.bUnit">Link</a>)
            .AsElement()
            .ShouldHaveHref("https://github.com/srpeirce/fluentassertions.bUnit");
    }
    
    [Fact]
    public void ThrowExceptionWhenHrefDoesNotMatch()
    {
        Action aut = () => Render(@<a href="https://github.com/srpeirce/fluentassertions.bUnit">Link</a>)
            .AsElement()
            .ShouldHaveHref("#");

        aut.Should().Throw<XunitException>();
    }

    [Fact]
    public void ThrowExceptionWhenDoesNotHaveHref()
    {
        Action aut = () => Render(@<a>Link</a>)
                            .AsElement()
                            .ShouldHaveHref("#");

        aut.Should().Throw<XunitException>();
    }
}