@using Xunit
@using FluentAssertions.BUnit
@using Xunit.Sdk
@inherits Bunit.TestContext

@code {
    
    [Fact]
    public void ReturnElement()
    {
        var element = Render(@<button><h1>Test</h1></button>).AsElement();
        
        var returnedElement = element.ShouldHaveChildMarkup("<h1>Test</h1>");

        returnedElement.Should().Be(element);
    }

    [Fact]
    public void SucceedWhenHasChildMarkup()
    {
        Render(@<button><h1>Test</h1></button>)
            .AsElement()
            .ShouldHaveChildMarkup("<h1>Test</h1>");
    }
    
    [Fact]
    public void ThrowExceptionWhenChildMarkupDoesNotMatch()
    {
        Action aut = () => Render(@<button><h1>Test</h1></button>)
                            .AsElement()
                            .ShouldHaveChildMarkup("<h1>Something Else<h1>");

        aut.Should().Throw<HtmlEqualException>();
    }
    
    [Fact]
    public void ThrowExceptionWhenChildMarkupIsMissing()
    {
        Action aut = () => Render(@<button></button>)
            .AsElement()
            .ShouldHaveChildMarkup("<h1>Test</h1>");

        aut.Should().Throw<XunitException>();
    }
}