@using Xunit.Sdk
@inherits Bunit.TestContext

@code {
    
    [Fact]
    public void ReturnElement()
    {
        var element = Render(@<button id="special-button">Click Me</button>).AsElement();
        
        var returnedElement = element.ShouldHaveId("special-button");

        returnedElement.Should().Be(element);
    }

    [Fact]
    public void SucceedWhenHasDataTestId()
    {
        Render(@<button id="special-button">Click Me</button>)
            .AsElement()
            .ShouldHaveId("special-button");
    }
    
    [Fact]
    public void ThrowExceptionWhenDataTestIdDoesNotMatch()
    {
        Action aut = () => Render(@<button id="special-button">Click Me</button>)
            .AsElement()
            .ShouldHaveId("button");

        aut.Should().Throw<XunitException>();
    }

    [Fact]
    public void ThrowExceptionWhenDataTestIdIsMissing()
    {
        Action aut = () => Render(@<button>Click Me</button>)
                            .AsElement()
                            .ShouldHaveId("special-button");

        aut.Should().Throw<XunitException>();
    }
}