@using Xunit.Sdk
@inherits Bunit.TestContext

@code {

    [Fact]
    public void ReturnRenderedFragment()
    {
        var renderedFragment = Render(@<button data-test-class="magic-button">Click Me</button>);

        var returnedRenderedFragment = renderedFragment.ShouldHaveDataTestClass("magic-button");

        returnedRenderedFragment.Should().Be(renderedFragment);
    }

    [Fact]
    public void SucceedWhenDataTestClassMatches()
    {
        Render(@<button data-test-class="magic-button">Click Me</button>)
            .ShouldHaveDataTestClass("magic-button");
    }

    [Fact]
    public void ThrowExceptionWhenDataTestClassDoesNotMatch()
    {
        Action aut = () => Render(@<button data-test-class="magic-button">Click Me</button>)
            .ShouldHaveDataTestClass("button");

        aut.Should().Throw<XunitException>();
    }

    [Fact]
    public void ThrowExceptionWhenDataTestClassIsMissing()
    {
        Action aut = () => Render(@<button>Click Me</button>)
            .ShouldHaveDataTestClass("magic-button");

        aut.Should().Throw<XunitException>();
    }
}