@using Xunit.Sdk
@inherits Bunit.TestContext

@code {

    [Fact]
    public void ReturnRenderedFragment()
    {
        var renderedFragment = Render(@<a href="#" aria-label="Home Page">Link</a>);

        var returnedRenderedFragment = renderedFragment.ShouldHaveAriaLabel("Home Page");

        returnedRenderedFragment.Should().Be(renderedFragment);
    }

    [Fact]
    public void SucceedWhenHasAriaLabel()
    {
        Render(@<a href="#" aria-label="Home Page">Link</a>)
            .ShouldHaveAriaLabel("Home Page");
    }

    [Fact]
    public void ThrowExceptionWhenHasIncorrectAriaLabel()
    {
        Action aut = () => Render(@<a href="#" aria-label="Home Page">Link</a>)
            .ShouldHaveAriaLabel("Home");

        aut.Should().Throw<XunitException>();
    }

    [Fact]
    public void ThrowExceptionWhenDoesNotHaveAnyAriaLabel()
    {
        Action aut = () => Render(@<a href="#">Link</a>)
            .ShouldHaveAriaLabel("Home Page");

        aut.Should().Throw<XunitException>();
    }
}